*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header START */
header{
    background-color: #01d3fe;
    background-image: linear-gradient(#00000000, #000000bf);
}

.theme-title-container{
    height: 20vh;
}

h1{
    color: #fff;
    text-align: center;
    font: lighter 45px sans-serif;
    position: relative;
    top: 50%;
}
svg{
    display: block;
    z-index: 1; /* svg must always be covering header background */
}
/* Header END */

main{
    height: auto;
    padding: 0 13vw 0 13vw;
}

h2{
    color: #0c6d78;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section p{
    margin: 15px 0 15px 0;
    font: 500 Georgia, 'Times New Roman', Times, serif;
}

.align-right{
    text-align: right;
}

footer{
    margin-top: 50px;
    height: 12vh;
    width: 100%;
    background-color: #011d24;
}

footer > p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: relative;
    top: 50%;
}